*__pycache__
*.gz
*.pyc
*data/raw
*data/processed
*-ubyte
*wandb
# data/sRNA/merged_inter.csv
data/sRNA/merged_EcoCyc_RNAInter_sRNATarBase.csv
data/sRNA/TableS2_E_coli_with_seq.csv
data/sRNA/TableS2_E_coli_with_seq*
notebooks/weight_saves
notebooks/data/*
notebooks/ViennaRNA*
notebooks/ViennaRNA
!notebooks/data/figs/
!notebooks/data/18_orthogonality_extra_database
notebooks/data/18_orthogonality_extra_database/inter_data_genome.json
notebooks/RNAplfold_scripts
src/nucleotide_transformer
notebooks/nupack*