*__pycache__
*.gz
*.pyc
*data/raw
*data/processed
*-ubyte
*wandb
# data/sRNA/merged_inter.csv
data/sRNA/merged_EcoCyc_RNAInter_sRNATarBase.csv
notebooks/weight_saves
notebooks/data/*
notebooks/ViennaRNA*
!notebooks/data/figs/
notebooks/RNAplfold_scripts
src/nucleotide_transformer