biopython
autopep8
# -e git+https://github.com/Steel-Lab-Oxford/core-bioreaction-simulation.git@599990dcac56e7678f45269d2fc9df736d25f356#egg=bioreaction
boto3
chex
# git+https://github.com/deepmind/chex.git
diffrax
dm-haiku
# dm-tree
equinox
graphviz
imblearn
ipykernel
# jax
# -f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html 
# jaxlib
jupyter
matplotlib
notebook
numpy
nvidia-cudnn-cu12
openpyxl
optax
pandas
pyvis
regex
scikit-learn
scipy
seaborn
# -e git+https://github.com/olive004/synbio_morpher.git@a6ab067bd0b09e4cac4bb1ccca4624a6f521c024#egg=synbio_morpher
# -i https://test.pypi.org/simple/ synbio-morpher
torch
tqdm
typing_extensions
umap-learn
varnaapi
viennarna
wandb